<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
<button (click)="onClickMe()">Click me!</button><br /><br />

For the cockpit to talk to the simulator, the following prerequisits have to be met:

<ol>
<li>The bacapp for IP has to be started on the cockpit.</li>
<li>In the HDM a configuration for the bacapp for IP controller has to be present.</li>
<li>The bacnet / IP configuration has to use the net_number 301 on both links</li>
<li>Make sure the IP traffic is not blocked by any firewall</li>
</ol>

<router-outlet></router-outlet>
