<a routerLink="/device-table" routerLinkActive="active">Back to Device Table</a>

<div class="device-details">
  <h1>Device Details</h1>

  <h1 [textContent]="id"></h1>

  ID: {{ device.id }}, ObjectType:{{ device.objectType }}, Name:{{
    device.name
  }}

  <ul>
    <li *ngFor="let childDevice of device.childDevices">
      ID: {{ childDevice.id }}, ObjectType:{{ childDevice.objectType }}, Name:{{
        childDevice.name
      }}, PresentValue:{{ childDevice.presentValue }}
    </li>
  </ul>
</div>
